[Log]
file: {{ log_path }}

[Docker]
url: unix://var/run/docker.sock
image_name: {{ docker_image }}
data_container: {{ data_container }}
vnc_port: {{ docker_vnc_port }}
pt_port: {{ docker_pt_port }}


[Database]
uri: sqlite:///{{ database_file }}


[Celery]
broker_url: redis://localhost:6379/1
timeout: 5


[PTChecker]
jar_path: {{ home_dir }}/JPTChecker-jar-with-dependencies.jar


[CachedFiles]
# The folder where PKT files will be cached.
cache_dir: {{ files_cache_path }}
# The directory where the cache will be mounted in the containers.
container_dir: {{ files_mount_path }}


[Thresholds]
# Define thresholds for instances.
# Maximum percentage of CPU to be used (regardless of number of CPUs)
cpu: {{ cpu_limit }}
# Maximum percentage of memory to be used
memory: {{ memory_limit }}
# Define in which ports Docker can make containers listen.
lowest_port: {{ low_port }}
highest_port: {{ high_port }}
