[Docker]
url: unix://var/run/docker.sock
image_name: {{ docker_image }}
data_container: {{ data_container }}
vnc_port: {{ docker_vnc_port }}
pt_port: {{ docker_pt_port }}


[Database]
uri: sqlite:///{{ database_file }}


[Port]
# Define in which ports Docker should make containers listen.
lowest: {{ low_port }}
highest: {{ high_port }}
