[unix_http_server]
file={{ supervisor_socket }}

[supervisord]

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://{{ supervisor_socket }}


[program:beat]
command={{ venv_path }}/bin/celery beat -A {{ celery_app }} -l {{ celery_loglevel }}
environment=PTINSTANCEMNGR="{{ config_file }}"
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
stdout_logfile={{ celery_log_folder }}/beat.log
stderr_logfile={{ celery_log_folder }}/beat.err

[program:normal]
command={{ venv_path }}/bin/celery worker -n normal -A {{ celery_app }} -Q celery,priority_high -l {{ celery_loglevel }}
user={{ remote_user }}
environment=PTINSTANCEMNGR="{{ config_file }}"
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
stdout_logfile={{ celery_log_folder }}/normal.log
stderr_logfile={{ celery_log_folder }}/normal.err

[program:priority]
command={{ venv_path }}/bin/celery worker -n priority -A {{ celery_app }} -Q priority_high -l {{ celery_loglevel }}
user={{ remote_user }}
environment=PTINSTANCEMNGR="{{ config_file }}"
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
stdout_logfile={{ celery_log_folder }}/priority.log
stderr_logfile={{ celery_log_folder }}/priority.err

[program:flower]
command={{ venv_path }}/bin/celery flower -A {{ celery_app }} --port={{ celery_flower_port }}
user={{ remote_user }}
environment=PTINSTANCEMNGR="{{ config_file }}"
autostart=false
stdout_logfile={{ celery_log_folder }}/flower.log
stderr_logfile={{ celery_log_folder }}/flower.err

{# Number of worker processes by default: number of CPUs available. #}
[group:celery]
programs=beat,normal,priority,flower
priority=10


[program:flask_app]
priority=20
command={{ venv_path }}/bin/gunicorn 'ptinstancemanager.wsgi:main("{{ config_file }}")' -c {{ gunicorn_config }}
user={{ remote_user }}
{% if proxy_env.http_proxy %}
environment=http_proxy="{{ proxy_env.http_proxy }}"
{%- if proxy_env.https_proxy %}
, https_proxy="{{ proxy_env.https_proxy }}"
{% endif %}
{% endif %}
stdout_logfile=/var/log/flask.log
stderr_logfile=/var/log/flask.err
