#!/bin/bash

INSTALLATION_PATH={{ installation_path }}
BACKUP_PATH={{ backup_path }}


cd $INSTALLATION_PATH
tar -zcf $BACKUP_PATH/installation.tar.gz ./*


cd
cp .packettracer $BACKUP_PATH/packettracer.conf


echo "Backup finished. Please, check the following directory:    $BACKUP_PATH"