[supervisord]
nodaemon=true

[program:xvfb]
priority=10
directory=/
command=/usr/bin/Xvfb :{{ x_server_number }} -screen 0 1024x768x16
user=root
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/xvfb.log
stderr_logfile=/var/log/xvfb.err

[program:x11vnc]
priority=20
directory=/
command=x11vnc -forever -usepw -display :{{ x_server_number }}
user=root
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/x11vnc.log
stderr_logfile=/var/log/x11vnc.err

{% if install_xfce %}
[program:startxfce4]
priority=20
directory=/root
command=/usr/bin/startxfce4
user=root
autostart=true
autorestart=true
stopsignal=QUIT
environment=DISPLAY=":{{ x_server_number }}",HOME="/root"
stdout_logfile=/var/log/xfce4.log
stderr_logfile=/var/log/xfce4.err
{% endif %}

[program:packetTracer]
priority=30
command=/bin/bash -c "unset http_proxy; {{installation_path}}/bin/PacketTracer6 saves/FORGE/ibookdemo611.pkt"
user=root
environment=DISPLAY=":{{ x_server_number }}"
directory={{ installation_path }}
autostart=true
autorestart=true
stdout_logfile=/var/log/packettracer.log
stderr_logfile=/var/log/packettracer.err

# Afterwards you could run other apps in this virtual display. E.g.:
# DISPLAY=:{{ x_server_number }} firefox http://www.google.com &
